[COM]
port=COM6
baudrate=115200

[MODULES]
terminal=true
command=false
keyboard=true

[INTERFACE]
inputs=false
ain=false
inputs_timer=200
ain_timer=200

[GUI]
main_window=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\xff\xff\xff\xff\xff\xff\xff\xf7\0\0\a\x80\0\0\x4\x6\0\0\0\xf1\0\0\0p\0\0\x5\xd9\0\0\x3\xba\0\0\0\0\x2\0\0\0\a\x80\0\0\0\0\0\0\0\x1d\0\0\a\x7f\0\0\x4\x5)
command=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\xff\xff\xff\xff\xff\xff\xff\xf7\0\0\a\x80\0\0\x4\x6\0\0\x1\x35\0\0\0q\0\0\x6J\0\0\x3\x94\0\0\0\0\x2\0\0\0\a\x80\0\0\0\0\0\0\0\x1d\0\0\a\x7f\0\0\x4\x5)
keyboard=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\xff\xff\xff\xff\xff\xff\xff\xf7\0\0\a\x80\0\0\x4\x6\0\0\x1\x35\0\0\0q\0\0\x6J\0\0\x3\x94\0\0\0\0\x2\0\0\0\a\x80\0\0\0\0\0\0\0\x1d\0\0\a\x7f\0\0\x4\x5)
